<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    [nzCollapsedWidth]="0"
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    [nzBreakpoint]="'xxl'"
    nzTheme="light"
  >
    <div class="sidebar-logo">
      <a target="_blank">
        <img src="logo.png" alt="logo">
        <h1>个人笔记系统</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed" >
      @if(noteService.selectedMenus.length >=2){
        @if(noteService.selectedMenus[1].subMenu.length > 0 || noteService.selectedMenus[1].noteFiles.length > 0){
          <li nz-submenu 
          [nzOpen]="!isCollapsed && noteService.isCurrentMenuSelectedOrOpened(noteService.selectedMenus[1])" 
          [class.ant-menu-submenu-selected]="noteService.isCurrentMenuSelectedOrOpened(noteService.selectedMenus[1])" 
          [nzTitle]="noteService.selectedMenus[1].title" 
          [nzIcon]="'folder'"
          class="nav-item">
              <ul>
                  @for(menu of noteService.selectedMenus[1].subMenu; track $index){
                      <app-nested-menu-item 
                      [autoOpenSelected]="!isCollapsed "
                      [showToolTip]="true"
                       [currentMenu]="menu"></app-nested-menu-item>
                  }
                  @for(note of noteService.selectedMenus[1].noteFiles; track $index){
                      <li nz-menu-item 
                      [nzSelected]="noteService.isCurrentNoteSelected(note)" 
                      (click)="noteService.setSelectMenu(noteService.selectedMenus[1])"
                      nz-tooltip
                      [nzTooltipTitle]="note.fileName"
                      [nzTooltipPlacement]="'right'"
                      >
                          <nz-icon nzType="file-markdown" />
                          <a [routerLink]="note.filePath.split('/')" class="nav-link">{{note.fileName}}</a>
                      </li>
                  }
              </ul>
          </li>
      }
      }
      <li nz-submenu nzTitle="Setting" nzIcon="setting">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Setting</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
        </span>
        <div class="header-right">
          <ul nz-menu nzMode="horizontal" style="display: flex;">
            
            @for(menu of noteService.NoteMenus; track $index){
              <app-nested-menu-item  [currentMenu]="menu"></app-nested-menu-item>
              <!-- <li nz-submenu nzTitle="{{menu.Title}}" [nzIcon]="'folder'">

                @if(menu.SubMenu.length > 0 || menu.NoteFiles.length > 0){
                  <ul>
                    @if(menu.SubMenu.length > 0){
                      @for(subMenu of menu.SubMenu; track $index){
                        <li nz-submenu [nzTitle]="subMenu.Title" [nzIcon]="'folder'">
                          @if(subMenu.SubMenu.length > 0 || subMenu.NoteFiles.length > 0){
                            <ul>
                              @for(subsubMenu of subMenu.SubMenu; track $index){
                                @if(subsubMenu.SubMenu.length > 0){
                                  @for(subsubsubMenu of subsubMenu.SubMenu; track $index){
                                    <li nz-submenu [nzTitle]="subsubsubMenu.Title" [nzIcon]="'folder'">
                                      <ul>
                                        @for(subsubMeun of subMenu.SubMenu; track $index){
                                          
                                        }
                                      </ul>
                                    </li>
                                  }
                                }
                                @if(subsubMenu.NoteFiles.length > 0){
                                  @for(noteFile of subsubMenu.NoteFiles; track $index){
                                    <li nz-menu-item>
                                      <nz-icon nzType="file-markdown" />
                                      {{noteFile.FileName}}
                                    </li>
                                  }
                              }
                                
                              }
                              
                              @if(subMenu.NoteFiles.length > 0){
                                @for(noteFile of subMenu.NoteFiles; track $index){
                                  <li nz-menu-item>
                                    <nz-icon nzType="file-markdown" />
                                    {{noteFile.FileName}}
                                  </li>
                                }
                            }
                            </ul>
                          }
                          
                        </li>
                      }
  
                  }
                  @if(menu.NoteFiles.length > 0){
                      @for(noteFile of menu.NoteFiles; track $index){
                        <li nz-menu-item>
                          <a href="{{noteFile.FilePath}}">
                            <nz-icon nzType="file-markdown" />
                            {{noteFile.FileName}}
                          </a>
                        </li>
                      }
                  }
                  </ul>
                }
                
              </li> -->
              <!-- <app-nested-menu-item [currentMenu]="menu"></app-nested-menu-item> -->
            }
          </ul>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <nz-breadcrumb style="margin-bottom: 10px;">
          @for(menu of noteService.selectedMenus; track $index){
            <nz-breadcrumb-item [nzOverlay]="selecteAbleItem">
              <a href="{{menu.router}}">{{menu.title}}</a>
              <nz-dropdown-menu #selecteAbleItem="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  @for(subMenu of menu.subMenu; track $index){
                    <li nz-menu-item><a [routerLink]="subMenu.router">{{subMenu.title}}</a></li>
                  }
                  @for(file of menu.noteFiles; track $index){
                    <li nz-menu-item><a [routerLink]="file.filePath">{{file.fileName}}</a></li>
                  }
                </ul>
              </nz-dropdown-menu>
            </nz-breadcrumb-item>
          }
        </nz-breadcrumb>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
